/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 51, 0.822);
    color: white;
}
.logo {
    font-weight: 800;
    font-size: 200%;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
button {
    border: none;
    padding: 1% 2%;
    color: white;
}
.buttonOne {
    background: rgba(119, 136, 153, 0.596);
}
h1 {
    font-weight: 100;
    font-size: 400%;
}
.buttonTwo {
    color: rgba(0, 0, 51, 0.822);
    font-size: 90%;
    padding: 2% 4%;
}
.buttonThree {
    background: rgba(0, 0, 51, 0.822);
    font-size: 90%;
    padding: 2% 4%;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    margin: 2%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 10%;
}
main {
    width: 50%;
    padding-bottom: 5%;
}
h1 {
    margin-bottom: 0;
}
p {
    margin-bottom: 10%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
