/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
header, main {
  color: white;
  background: rgba(63, 113, 143, 0.911);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.donate {
  background: white;
  color: rgba(72, 131, 165, 0.911);
}
h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 500;
}
main p{
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 125%;
}
.doubleSection {
  background: rgb(202, 223, 236);
}
.links {
  border: 1px solid black;
  color: black;
}
footer {
  background: rgb(6, 5, 39);
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 20%;
}
nav ul {
  display: flex;
  gap: 2%;
}
.donate {
  margin-right: 40px;
  padding: 5px;
  border-radius: 5px;
}
main {
  padding: 5%;
}
h1 {
  margin: 0;
}
main p{
  padding: 0 50px;
}
.similarSections {
  padding: 5% 25%;
}
.doubleSection {
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.doubleSection p {
  padding-bottom: 10%;
}
.similarSections p {
  padding-bottom: 10%;
}
.sectionOne, .sectionTwo {
  width: 40%;
}
.links {
  padding: 3% 10%;
}
.twoColumns {
  display: flex;
  justify-content: space-between;
}
.twoColumns ul {
  display: flex;
  gap: 5%;
}